<div class="row" style="margin-top:20px;">
  <div class="col-md-6" style="margin-top:10px;">
    <i class="text-center fas fa-virus mx-auto"
      style="font-size:10rem;display: inline-block; width:100%; color:#fc5f5f;margin-bottom:10px;"></i>
    <h3 class="text-center">Active Cases<sup data-toggle="tooltip" data-placement="right"
        title="An estimation calculated by the amount of cases reported in the last 14 days minus deaths in the last 14 days."
        style="vertical-align: super;
      font-size: 1rem;">
        *</sup>: {{data.positive-data.pos_14_days_ago-(data.deaths-data.deaths_14_days_ago)}} (+{{data.positive-data.pos_1_days_ago}})<sup
        data-toggle="tooltip" data-placement="right" title="The daily increase of positive results." style="vertical-align: super;
      font-size: 1rem;">
        *</sup>
    </h3>
    <h3 class="text-center">Total Positive: {{data.positive}}</h3>
  </div>

  <div class="col-md-6" style="margin-top:20px;">
    <i class="text-center fas fa-walking mx-auto"
      style="font-size:10rem;display: inline-block; width:100%; color:#87fc83;margin-bottom:10px;"></i>
    <h3 class="text-center">Daily Negative<sup data-toggle="tooltip" data-placement="right"
        title="This number underestimates the amount of negative tests as they're not required to report." style="vertical-align: super;
      font-size: 1rem;">
        *</sup>: {{data.negative-data.neg_1_days_ago}}</h3>
    <h3 class="text-center">Weekly Negative<sup data-toggle="tooltip" data-placement="right"
        title="Total negative tests in the last 7 days." style="vertical-align: super;
      font-size: 1rem;">
        *</sup>: {{data.negative-data.neg_7_days_ago}}</h3>

  </div>
</div>
