<div class="container">
  <div class="row" style="width:100%;margin-top:20px;">
    <div class="mx-auto">
      <div>
        <h1 class="text-center">&nbsp;&nbsp;On Campus<sup data-toggle="tooltip" data-placement="right"
            title="This data is based on the census tracts that people consider to be within the UW Madison campus (includes most dorms as well as some non-campus buildings). Read more in the about section."
            style="vertical-align: super;
            font-size: 1rem;">
            ?</sup></h1>
      </div>
    </div>
  </div>

  <app-stats-row [data]="covid_data.on_campus"></app-stats-row>


  <div class="row" style="width:100%;margin-top:20px;">
    <h1 class="text-center mx-auto">&nbsp;&nbsp;Near Campus<sup data-toggle="tooltip" data-placement="right"
        title="This data is based on the census tracts that are near the UW Madison campus (excluding campus). Read more in the about section."
        style="vertical-align: super;
      font-size: 1rem;">
        ?</sup></h1>
  </div>

  <app-stats-row [data]="covid_data.near_campus"></app-stats-row>

  <div class="row" style="width:100%;margin-top:20px;">
    <h1 class="text-center mx-auto">&nbsp;&nbsp;Madison, WI<sup data-toggle="tooltip" data-placement="right"
        title="This data is based on the census tracts that fall within the city lines. Read more in the about section."
        style="vertical-align: super;
      font-size: 1rem;">
        ?</sup></h1>
  </div>

  <app-stats-row [data]="covid_data.madison"></app-stats-row>

  <div class="row" style="width:100%;margin-top:20px;">
    <h6 class="text-center mx-auto">Last Updated: {{covid_data.updated}}</h6>
  </div>
</div>
