<div class="container">
  <div class="row" style="width:100%;margin-top:20px;">
    <div class="mx-auto">
      <div>
        <h1 class="text-center">About</h1>
      </div>
    </div>
  </div>

  <div class="row" style="width:100%;margin-top:20px;">
    <div class="mx-auto">
      <div>
        <h3 class="text-center">Where the data comes from</h3>
      </div>
    </div>
  </div>

  <p>The data that is displayed on the dashboard landing page of this website is aggregated from The Wisconsin
    Department of Health Services. They have an interactive map using this data, but it doesn't show city-wide just for
    each census tract. You can find Wisconsin's interactive map <a
      href="https://www.dhs.wisconsin.gov/covid-19/cases-map.htm" style="color:lightblue;">here</a>.</p>

  <p>
    All the data is based around census tract numbers which you can find <a
      href="https://geomap.ffiec.gov/FFIECGeocMap/GeocodeMap1.aspx" style="color:lightblue;" target="_blank">here</a>.
    Some of these tracts extend beyond the categories listed on the landing page of the website. I've tried my best to
    keep the census tract numbers for each of the categories to be accurate as possible, but it is possible I messed up
    somewhere.
  </p>

  <div class="row" style="width:100%;margin-top:20px;">
    <div class="mx-auto">
      <div>
        <h3 class="text-center">Contributing to the project</h3>
      </div>
    </div>
  </div>
  <p>
    If you want to contribute to this project submit a PR on the GitHub page <a
      href="https://github.com/davidteather/UW-Madison-Covid-19" target="_blank" style="color:lightblue;">here</a>.
  </p>

  <div class="row" style="width:100%;margin-top:20px;">
    <div class="mx-auto">
      <div>
        <h3 class="text-center">Census Tracts for each category</h3>
      </div>
    </div>
  </div>

  <p>
    Now for the boring part I'll list out what census tract numbers are counted in each of the categories on the front
    page. I've checked over the following tract numbers a few times, but it's really tedious work and I'm not fully
    confident that all tracts have been included.
  </p>

  <p>
    On Campus: 32.00, 11.02, 11.01, 16.03, 16.06
  </p>

  <p>
    Near Campus: 101.00, 8.00, 9.02, 3.00, 9.01, 10.00, 12.00, 16.05, 16.04, 17.04, 17.05, 18.02, 18.04, 19.00, 21.00,
    13.00, 9.01, 2.01, 4.02, 10.00
  </p>

  <p>
    Madison, WI: 11.02, 32, 101, 1, 2.05, 109.01, 109.03, 5.04, 4.06, 4.05, 2.04, 4.07, 4.08, 2.02, 5.01, 4.02, 3, 2.01,
    7, 14.02, 14.01, 15.01, 4.01, 8, 9.02, 10, 9.01, 13, 12, 16.05, 16.06, 11.01, 16.03, 16.04, 17.04, 17.05, 19, 18.02,
    18.04, 21, 22, 102, 23.01, 23.02, 24.01, 24.02, 25, 26.01, 20, 27, 30.01, 28, 103, 31, 29, 104
  </p>
</div>
