<footer class="footer bg-dark footer-style fixed-bottom" style="margin-top:20px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 h-100 text-center text-lg-left my-auto text-center">
        <p class="text-muted small mb-6 mb-lg-0 text-center">All data is collected from The Wisconsin Department of Health Services,
          which you can find <a
            href="https://dhsgis.wi.gov/server/rest/services/DHS_COVID19/COVID19_WI/FeatureServer/1/query"
            target="_blank" style="color:#bebebe">here</a></p>
        <p class="text-muted small mb-6 mb-lg-0 text-center">&copy; David Teather 2020.</p>
        <p class="text-muted small mb-6 mb-lg-0 text-center">Disclaimer: The University of Madison has no affiliation to this
          website, nor does it endorse this website. I am not responsible for any inaccurate information on this website.</p>
      </div>
    </div>
  </div>
</footer>
